.food-card{
    background-color: rgb(231, 232, 238);
    height: 370px;
    width: 250px;
    border: 1px solid #7a7a76;
    border-radius: 8px;
    margin: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}
.food-card:hover{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4) ;
    transition:0.3s;
    transform: scale(1.02);
}
.food-card-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
}
.food-card-title{
    text-align: center;
    font-size: 25px;
    margin: 0;
    color: rgb(5, 5, 59);
}
.food-card-price{
    font-size: 19px;
}
.food-card-btn{
    background-color: rgb(72, 53, 122);
    width: auto;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.food-card-btn:hover{
    background-color: rgb(79, 18, 87);
    transition: 0.5s;
    scale: 1.01;
}