.navbar{
    background-color: rgb(205, 188, 228);
    color: rgb(78, 5, 5);
    padding: 10px;
    display: flex;
    align-items: center;
    height: 25px;
    width: auto;
    position: relative;
}
.name{
    font-size: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 15px;
}
.owner{
    font-size: 18px;
    color: rgb(24, 6, 48);
    margin:10px;
    position:absolute;
    top: -6px;
    right: 3px;
    font-weight: bold;
}
.num{
    font-size: 16px;
    color: rgb(24, 6, 48);
    margin:10px;
    position:absolute ;
    top: 15px;
    right: 3px;
    font-weight: bold;
}
