.Footer{
    background-color: rgb(51, 6, 110);
    color: white;
    text-align: center;
    padding: 10px;
    position:sticky;
    margin:0 ;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    border-top: 5px solid black;
}