body{
    background-color: rgb(190, 88, 88);
}

.name{
    background-color: rgb(145, 16, 16);
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 20px 30px;
    padding: 10px;
}
.food-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}